/* ======= GENERAL ======= */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding-top: 10vh;
    background-color: rgb(85, 85, 85);
}

body, button {
    font-family: sans-serif;
    font-weight: normal;
}

main {
    max-width: 300px;
    width: 90%;
    margin: auto;
}

/* ======= SCREEN ======= */
#screen {
    background-color: rgba(50, 50, 50, .75);
    min-height: 80px;
    padding: 10px;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

#screen > div {
    display: inline-block;
    width: fit-content;
}

#previous-operand {
    color: rgba(255, 255, 255, 0.5);
}

#current-operand {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 2.2em;
}

/* ======= BUTTONS ======= */
#buttons {
    display: grid;
        grid-template-columns: repeat(4, minmax(40px, 100px));
}

button {
    font-size: 1.5em;
    color: black;
    padding: 20px 0px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}